<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FLAME Kurukshetra 2025 Registration Form</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename = 'style.css') }}"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="icon"
      type="image/x-icon"
      href="{{ url_for('static', filename = 'kurukshetra.png') }}"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.css"
      rel="stylesheet"
    />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-black" style="font-family: Oswald">
    <div class="flex flex-col justify-center items-center h-screen">
      <div class="flex p-6 justify-between items-center header-img-logo">
        <img
          class="w-[320px] md:w-[475px]"
          src="{{ url_for('static', filename = 'logo.png') }}"
          alt="Kurukshetra 2025"
        />
      </div>
      <div
        class="border-x border-y p-8 rounded-lg drop-shadow-lg border-slate-400 flex flex-col max-w-[500px] justify-between p-4 leading-normal bg-[#1E1E1E]"
      >
        <form
          action="{{ url_for('area_choice') }}"
          method="post"
          class="max-w-lg mx-auto flex flex-col gap-6 justify-between"
          id="area-form"
        >
          <h1 class="text-4xl md:text-5xl font-extrabold text-white">
            Select Area of Participation
          </h1>
          <div class="flex flex-col gap-4">
            <div class="flex flex-col gap-2">
              <div class="mb-5">
                <input
                  type="checkbox"
                  name="areas"
                  value="sports"
                  id="sports checkbox-areas"
                  class="cursor-pointer check-option w-5 h-5 text-[#FF5F1F] rounded focus:ring-[#FF5F1F] dark:focus:ring-[#FF5F1F] dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
                />
                <label
                  for="sports"
                  class="mb-2 ml-2 text-md font-medium text-white"
                  >Sports</label
                >
              </div>
              <div class="mb-5">
                <input
                  type="checkbox"
                  name="areas"
                  value="culturals"
                  id="culturals checkbox-areas"
                  class="cursor-pointer check-option w-5 h-5 text-[#FF5F1F] rounded focus:ring-[#FF5F1F] dark:focus:ring-[#FF5F1F] dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
                />
                <label
                  for="culturals"
                  class="mb-2 ml-2 text-md font-medium text-white"
                  >Culturals</label
                >
              </div>
              <div class="mb-5">
                <input
                  type="checkbox"
                  name="areas"
                  value="management"
                  id="management checkbox-areas"
                  class="cursor-pointer check-option w-5 h-5 text-[#FF5F1F] rounded focus:ring-[#FF5F1F] dark:focus:ring-[#FF5F1F] dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
                />
                <label
                  for="management"
                  class="mb-2 ml-2 text-md font-medium text-white"
                  >Management</label
                >
              </div>
            </div>

            <!--  -->
            <div
              class="alert-modal hidden flex items-center p-4 mb-4 text-sm text-blue-800 rounded-lg bg-blue-50 dark:bg-gray-800 dark:text-blue-400"
              role="alert"
            >
              <svg
                class="flex-shrink-0 inline w-4 h-4 me-3"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 20 20"
              >
                <path
                  d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
                />
              </svg>
              <span class="sr-only">Info</span>
              <div>
                <span class="font-medium">Alert!</span> Please check a box.
              </div>
            </div>
            <!--  -->

            <input
              type="submit"
              value="Next"
              id="next-btn"
              class="cursor-pointer text-white text-center focus:bg-[#ff51f] focus:ring-1 focus:outline-none focus:ring-[#FF7F50] rounded-lg text-lg font-medium px-5 py-4 text-center bg-[#FF5F1F] hover:bg-[#EC5800] me-2 mb-2"
            />
          </div>
        </form>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
    <script>
      document.addEventListener("DOMContentLoaded", () => {
        document
          .getElementById("area-form")
          .addEventListener("submit", (event) => {
            const checkboxes = document.querySelectorAll(".check-option");
            const alert_modal = document.querySelector(".alert-modal");
            const isChecked = Array.from(checkboxes).some(
              (checkbox) => checkbox.checked
            );

            if (!isChecked) {
              alert_modal.classList.remove("hidden");

              setTimeout(() => {
                alert_modal.classList.add("hidden");
              }, 3000);
              event.preventDefault();
            }
          });
      });
    </script>
  </body>
</html>
