<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Success Page</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      rel="icon"
      type="image/x-icon"
      href="{{ url_for('static', filename = 'kurukshetra.png') }}"
    />

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename = 'style.css') }}"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.css"
      rel="stylesheet"
    />
  </head>
  <body class="bg-black min-h-screen flex items-center justify-center">
    <div
      class="border-slate-500 bg-black border-x border-y rounded-lg p-8 max-w-md w-full text-center"
    >
      <div class="text-green-500 flex items-center flex-col justify-center">
        <img
          src="{{url_for('static',filename = 'fire-1.gif')}}"
          class="w-[140px]"
        />
        <img src="{{url_for('static',filename = 'new-logo.png')}}" />
      </div>
      <h1 class="text-2xl font-bold text-green-400">Payment Successful!</h1>
      <p class="text-gray-400 mt-6">
        Thank you for your payment. Your transaction was completed
        successfully.<br />
        You will hear back from the registartion team.
      </p>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
  </body>
</html>
